body {
	margin: 0;
	font-family: Helvetica;
	background-color: #C3E8F1;
}
h1 {
	color: #364E54;
	font-weight: 200;
}
 #logo {
 	height: 100px;
 	width: 100px;
 }
#container {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}